In [10]:
a=2
a

2

In [6]:
1w=12

SyntaxError: invalid syntax (<ipython-input-6-6f2d01d88f77>, line 1)

In [12]:
A=1+2+3+\
4+5+6+\
7+8+9

A

45

In [14]:
A=(1+2+3+
  4+5+6+
  7+8+9)
A

45

In [15]:
a,b,c=1

TypeError: cannot unpack non-iterable int object

In [18]:
a,b,c=1,2,4
print(a)

1

a=b=c=1
a

In [20]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
for i in range(10):
    print(i)
    if(i==5):
        break

0
1
2
3
4
5

In [29]:
a=10
if a<20:
    print(a)

10

In [31]:
#hello statement
print ("hello");

hello

In [33]:
"""Function to 
double
the value"""

'Function to \ndouble\nthe value'

In [34]:
def doc_str(num):
    """function to return the sum"""
    return 100-num

In [37]:
doc_str(1000)

-900

In [41]:
print (doc_str.__doc__)

function to return the sum

In [42]:
import os

pwd=os.getcwd()
print(pwd)

C:\Users\SakthivelSundaram\Desktop\personal\Learning

In [43]:
import cons

print(cons.PI)

3.14

In [49]:
ls=[1,1,2.40,"threee"]
print(ls)
type(ls)

[1, 1, 2.4, 'threee']

list

In [50]:
list3 =[1,2,3,4,5,6]
print (list3)

[1, 2, 3, 4, 5, 6]

In [53]:
list3[2:6]

[3, 4, 5, 6]

In [55]:
list3[5]="last element"
list3

[1, 2, 3, 4, 5, 'last element']

In [56]:
tup=(1,2,3)
print (tup)

(1, 2, 3)

In [57]:
type (tup)

tuple

In [61]:
tup[2]="o"

TypeError: 'tuple' object does not support item assignment

In [62]:
s1={1,2,3,4,5,6}
type(s1)

set

In [63]:
s1[3]=22
print(s1)

TypeError: 'set' object does not support item assignment

In [64]:
print(s1)

{1, 2, 3, 4, 5, 6}

In [65]:
print(s1)

{1, 2, 3, 4, 5, 6}

In [70]:
dict2={"p":'AAA',2:"BBB"}
print(dict2)

{'p': 'AAA', 2: 'BBB'}

In [74]:
float(10)

10.0

In [72]:
int(10.7)

10

In [75]:
int("IP")

ValueError: invalid literal for int() with base 10: 'IP'

In [76]:
int("456")

456

In [79]:
a22=int("456")
print(a22)

456

In [80]:
list4=[45,67,89,23,54]
type(list4)

list

In [86]:
sf=set(list4)
print(sf)
print(sf)

{67, 45, 54, 23, 89}
{67, 45, 54, 23, 89}

In [85]:
print(list4)

[45, 67, 89, 23, 54]

In [87]:
tuple(sf)

(67, 45, 54, 23, 89)

In [91]:
num_int=123
num_flo=12.4
num_add=num_int+num_flo
print("value of num_add",num_add)

value of num_add 135.4

In [90]:
print ("type of num_add",type(num_add))

type of num_add <class 'float'>

In [96]:
num_int=123
num_flo=12.4
num_str="456"
num_add=num_int+num_flo+num_str
print("value of num_add",num_add)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [102]:

num_int=123
num_flo=12.4
num_str="456"
num_str=int(num_str)
num_add=num_int+num_flo+int(num_str)
print("value of num_add",num_add)

value of num_add 591.4

In [113]:
#comparsion operators
3!=3
3>2
3<2
3>=2
3<=2

False

In [117]:
#logical operators

3>2 or 3<2
not (3>2 and 3<2)

True

In [123]:
num = int(input ("Enter the number: "))

if num>0:
    print (num)
else:
    if num==0:
        print(0)
    else:
        print (-(num))

Enter the number: -9
9

In [125]:
for i in range(10):
    j=i//2
    if(j==0):
        print(i," is even")
    else:
        print(i," is Odd")

0  is even
1  is even
2  is Odd
3  is Odd
4  is Odd
5  is Odd
6  is Odd
7  is Odd
8  is Odd
9  is Odd

In [127]:
num= int(input("Entere the number:"))
i=0
sum=0
while(i<num):
    if(i in range(0,5)):
        sum=sum+i
    else:
        sum=sum+10
    i=i+1
print(sum)

Entere the number:20
160

In [132]:
for i in "Higher":
    if i =="i":
        continue
    if i=="h":
        break
    
    else:
        print(i)

H
g

In [135]:
def my_fun(num):
    if num>=0:
        print (num)
    else:
        print (-num)

my_fun(0)

0

# Default Parameter
### if argument is not passed , then take default argument
### if passed , then override
### Default arguments should be at the last , else all the arguments should have default value, but should not be at the first

In [143]:
def my_fun(arg1,arg3="EveryOne"):
    print(arg1," " ,arg3)
my_fun("Good Morning")
my_fun("Good Morning","Sakthi")

Good Morning   EveryOne
Good Morning   Sakthi

# orbitary Arguments 

## takes any number of arguments

In [146]:
def my_def(*names):
    for i in names:
        print (i)

my_def("Sakthi","Mano","Thisanth")

Sakthi
Mano
Thisanth

## Recursion 

### Calling the function again and again

In [148]:
def rec(x):
    if x==1:
        return x
    else:
        return (x*rec(x-1))

print("factorial is ",rec(5))

factorial is  120

## lambda function

In [158]:
cube=lambda x:"my name is {0}".format(x)
cube("Sakthi")
mylist = range(0,10)

'my name is Sakthi'

# filter Function

## 'filter(function or None, iterable) --> filter object\n\nReturn an iterator yielding those items of iterable for which function(item)\nis true. If function is None, return the items that are true.'

In [162]:
mylist = range(0,10)
print (mylist)
ls = list(filter(lambda x: x%2!=0,mylist))
print(ls)

filter.__doc__

range(0, 10)
[1, 3, 5, 7, 9]

'filter(function or None, iterable) --> filter object\n\nReturn an iterator yielding those items of iterable for which function(item)\nis true. If function is None, return the items that are true.'

# Map Function 
## map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

In [166]:
mylist = range(0,10)
print (mylist)
ls = list(map(lambda x: x%2!=0,mylist))
print(ls)
ls1=list(map(lambda x:x*x,mylist))
print(ls1)
map.__doc__

range(0, 10)
[False, True, False, True, False, True, False, True, False, True]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

'map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

# Global Variable 

## we can access the global variable inside a function . 
## But , in order to assign , we need to tell function its a global variable

In [173]:
var =20 
def fun():
    global var
    print ("before assignment",var)
    
    var = var+2
    print ("after assignment",var)
    
fun()

before assignment 20
after assignment 22

## Nested List

In [176]:
l=[1,2,3,[4,5],["one","two","three"]]
print(l)

print (l[-1])
print(l[-1][-2])
print(l[-2][0])

[1, 2, 3, [4, 5], ['one', 'two', 'three']]
['one', 'two', 'three']
two
4